server {
    listen {{ item.port | default("80") }};
    server_name {{ item.server_name }};
    
{% for loc in item.locations %}
    location /{{ loc.location }} {
        autoindex on;
        sendfile on;
        sendfile_max_chunk 100m;
        root /data/;
    }
{% endfor %}
}
