upstream {{ item.name }} {
{% for host in item.upstream %}
    server {{ host }};
{% endfor %}
}

server {
{% if item.proto == 'udp' %}
    listen {{ item.port }} {{ item.proto }};
{% else %}
    listen {{ item.port }};
{% endif %}
    proxy_pass {{ item.name }};
}

