[Unit]
Description= smokeping_prober-exporter
Wants=basic.target
After=basic.target network.target

[Service]
User=prometheus
Group=prometheus
Type=simple
PermissionsStartOnly=true
ExecStartPre=/sbin/setcap 'cap_net_raw+ep' /opt/smokeping_prober/smokeping_prober-{{ smokeping_prober.version }}.linux-amd64/smokeping_prober
ExecStart=/opt/smokeping_prober/smokeping_prober-{{ smokeping_prober.version }}.linux-amd64/smokeping_prober {{ smokeping_prober.hosts|join(' ') }} 

[Install]
WantedBy=multi-user.target
