remote {{ openvpn.remote }} {{ openvpn.port }} udp

client

nobind

dev {{ openvpn.dev }}

<ca>
{{ openvpn.ca.crt }}
</ca>

<cert>
{{ openvpn.client.crt }}
</cert>

<key>
{{ openvpn.client.key }}
</key>

dh ssl/dh.pem

keepalive 10 60

connect-retry 30

resolv-retry infinite

comp-lzo

user openvpn
group openvpn

persist-key
persist-tun

verb 3

topology subnet
