port 1194

proto udp

dev {{ openvpn.dev }}

<ca>
{{ openvpn.ca.crt }}
</ca>

<cert>
{{ openvpn.server.crt }}
</cert>

<key>
{{ openvpn.server.key }}
</key>

dh ssl/dh.pem

server 10.10.0.0 255.255.255.0

keepalive 10 120

comp-lzo

user openvpn
group openvpn

persist-key
persist-tun

duplicate-cn

verb 3
