{% if openvpn.syslog %}
syslog
{% endif %}

port {{ openvpn.port }}

proto udp

dev {{ openvpn.dev }}

<ca>
{{ openvpn.ca.crt }}
</ca>

<cert>
{{ openvpn.server.crt }}
</cert>

<key>
{{ openvpn.server.key }}
</key>

dh ssl/dh.pem

server 10.10.0.0 255.255.255.0

keepalive 10 120

comp-lzo

user openvpn
group openvpn

persist-key
persist-tun

topology subnet

verb 3

status openvpn-status.log

ifconfig 10.10.0.1 255.255.255.0

{% if openvpn.rules  is defined %}
{% for rule in openvpn.rules %}
push "{{ rule }}"
{% endfor %}
{% endif %}

{% for route in openvpn.routes %}
{{ route }}
{% endfor %}

client-config-dir ccd
