modules:
  http:
    prober: http
    timeout: 5s
    http:
      preferred_ip_protocol: "ip4"
  tcp:
    prober: tcp
    timeout: 2s
  icmp:
    prober: icmp
    timeout: 2s
  dns:
    prober: dns
    timeout: 2s
  tls:
    prober: tcp
    timeout: 5s
    tcp:
      tls: true
