modules:
  http:
    prober: http
    timeout: 5s
    http:
      preferred_ip_protocol: "ip4"
  tcp:
    prober: tcp
    timeout: 2s
  icmp:
    prober: icmp
    timeout: 2s
  dns_a:
    prober: dns
    timeout: 2s
    query_type: A
  dns_ptr:
    prober: dns
    timeout: 2s
    query_type: PTR
  tls:
    prober: tcp
    timeout: 5s
    tcp:
      tls: true
