[Unit]
Description=Prometheus Monitoring framework
Wants=basic.target
After=basic.target network.target

[Service]
User=prometheus
Group=prometheus
WorkingDirectory=/opt/prometheus/prometheus-{{ prometheus.version }}.linux
ExecStart=/opt/prometheus/prometheus-{{ prometheus.version }}.linux/prometheus --config.file=/etc/prometheus/prometheus.yml {{ prometheus.start_parameters }}
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always
RestartSec=42s

[Install]
WantedBy=multi-user.target
