#!/bin/bash -x

now=$(date +"%d%m%Y_%H%M%S")

cd /opt/factorio
tar czvf /opt/factorio/backup/factorio_$now.tar.gz /opt/factorio/{{ factorio.save_name }}/

find /opt/factorio/backup/ -mtime +{{ factorio.backup_retention }} -delete;
