[Unit]
Description= factorio
Wants=basic.target
After=basic.target network.target

[Service]
WorkingDirectory=/opt/factorio
User=factorio
Group=factorio
Type=simple
ExecStartPre=/opt/factorio/create_save.sh
ExecStart=/opt/factorio/factorio/bin/x64/factorio --start-server /opt/factorio/{{ factorio.save_name }}/{{ factorio.save_name }}.zip --server-settings /opt/factorio/server-settings.json

[Install]
WantedBy=multi-user.target
