reporting-disabled = false

[meta]
  dir = "/data/influxdb/meta"

[data]
  dir = "/data/influxdb/data"
  wal-dir = "/data/influxdb/wal"
  series-id-set-cache-size = 100

[coordinator]

[retention]

[shard-precreation]

[monitor]
  store-enabled = true
  store-database = "_internal"
  store-interval = "10s"

[http]
  enabled = true
  bind-address = ":8086"
  auth-enabled = true
  log-enabled = true

[logging]
  format = "auto"
  level = "info"
  suppress-logo = true


[subscriber]

[continuous_queries]

