global:
  smtp_smarthost: localhost:25
  smtp_from: alertmanager@test.com

route:
  group_by: ['alertname', 'cluster']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 3h
  receiver: 'default-email'

receivers:
  - name: 'default-email'
    email_configs:
    - to: test@test.com
