server {
    listen 80;
    {% if yum_repo.server_name is defined %}
    server_name {{ yum_repo.server_name }};
    {% endif %}

    location /repo {
        autoindex on;
        root /data/;
    }
}
